streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
sentence-transformers
transformers
torch
faiss-cpu
pypdf
python-docx
openpyxl
pandas
requests
beautifulsoup4
google-genai
